*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: "Permanent Marker";
    letter-spacing: 4px;
    font-size: 2rem;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

.name {
    text-align: center;
    font-size: 3rem;
}

.turn {
    text-align: center;
}

.board {
    border: 3px solid black;
    height: 500px;
    width: 500px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 164.66px);
    grid-template-rows: repeat(3, 164.66px);
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell {
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 120px;
    padding-bottom: 5px;
    cursor: pointer;
}

.reset {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#reset {
    border: 3px solid black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: white;
}

.login {
    height: 450px;
    width: 500px;
    border: 3px solid black;
    padding: 50px;
    border-radius: 15px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    margin-top: 20px;
}

input {
    border-radius: 15px;
    border: 3px solid black;
    padding: 5px;
}

.okay {
    margin-top: 30px;
    text-align: center;
    cursor: pointer;
    height: 30px;
    border: 0;
    background-color: white;
    font-family: "Permanent Marker";
    font-size: 2rem;
}